@import "./base.css";

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body,
html {
  height: auto;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  background-color: #f4f4f4;
  font-weight: bold;
  flex-direction: column-reverse;
  align-content: stretch;
  justify-content: flex-end;
}
h2 {
  color: #2aa12a;
  font-size: xx-large;
}
.input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #008000;
  border-radius: 5px;
  margin-right: 5px;
  background-color: white;
}
p {
  color: black;
}
.text {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #80000b;
  border-radius: 5px;
  margin-right: 5px;
  background-color: white;
}
.text h2 {
  color: #80000b;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}
